* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {  
        /* background-color: rgba(204, 255, 153) */
        font-family: "Jost", serif;
        min-height: 100vh;
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc9APxkj0xClmrU3PpMZglHQkx446nQPG6lA&s) no-repeat center center/cover;
}
.navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 100%;
        position: sticky;
        top: 0;
        background: transparent;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        z-index: 999;
        /* padding: 1 rem; */
}
nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
}
nav ul li {
        display: inline;
}
nav ul li a {
        color: white;
        text-decoration: none;
        padding: 0.5 rem 1 rem;
        display: block;
}
nav ul li a:hover {
        background-color: #575757;
        border-radius: 5px;
}
